name: Release Build
on:
  push:
    tags:
      - "v[0-9].[0-9]+.[0-9]+"

jobs:
  sbsh_binaries:
    name: Create Release
    env:
      SBSH_VERSION: ${{ github.ref_name }}
      SBSH_REGISTRY: docker.io
      SBSH_IMAGE_NAME: eminwux/sbsh
    runs-on: ubuntu-22.04
    permissions:
      packages: write
      contents: write
      attestations: write
      id-token: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Build artifacts
        run: make release-build SBSH_VERSION=$SBSH_VERSION

      - name: Create Github Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${GITHUB_REF#refs/tags/}" \
          ./sbsh-linux-amd64 ./sbsh-linux-arm64 \
          ./sbsh-darwin-amd64 ./sbsh-darwin-arm64 \
          ./sbsh-freebsd-amd64 ./sbsh-freebsd-arm64 \
          --title "${GITHUB_REF#refs/tags/}" \
          --notes "Docker images available at:
          - docker.io/eminwux/sbsh:${{ github.ref_name }}-linux-amd64
          - docker.io/eminwux/sbsh:${{ github.ref_name }}-linux-arm64
          "

  sbsh_images:
    name: Build Images
    env:
      SBSH_VERSION: ${{ github.ref_name }}
      SBSH_REGISTRY: docker.io
      SBSH_IMAGE_NAME: eminwux/sbsh
    runs-on: ubuntu-22.04
    permissions:
      packages: write
      contents: write
      attestations: write
      id-token: write
    strategy:
      matrix:
        os: [linux]
        arch: [amd64, arm64]
        include:
          - os: linux
            arch: amd64
          - os: linux
            arch: arm64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.SBSH_DOCKER_USERNAME }}
          password: ${{ secrets.SBSH_DOCKER_PASSWORD }}

      - name: Extract sbsh metadata
        id: meta-sbsh
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.SBSH_IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}-${{ matrix.os }}-${{ matrix.arch }}
            type=raw,value=latest-${{ matrix.arch }}
          labels: |
            org.opencontainers.image.title=${{ env.SBSH_IMAGE_NAME }}
            org.opencontainers.image.version=${{ env.SBSH_VERSION }}
            org.opencontainers.image.description=Your webhook image description
            org.opencontainers.image.os=${{ matrix.os }}
            org.opencontainers.image.arch=${{ matrix.arch }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push sbsh Docker image
        id: push-sbsh
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta-sbsh.outputs.tags }}
          labels: ${{ steps.meta-sbsh.outputs.labels }}
          build-args: |
            OS=${{ matrix.os }}
            ARCH=${{ matrix.arch }}
            VERSION=${{ env.SBSH_VERSION }}
          platforms: linux/${{ matrix.arch }}

      - name: Generate sbsh artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: ${{ env.SBSH_REGISTRY }}/${{ env.SBSH_IMAGE_NAME }}
          subject-digest: ${{ steps.push-sbsh.outputs.digest }}
          push-to-registry: true
